<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ .Section }}" data-page-kind="{{ .Kind }}">
    <header>
      {{ partial "header.html" . }}
      <!-- Image container for tablet screens - at bottom of menu -->
      <div class="section-image-tablet {{ .Section }}"></div>
    </header>
    <main>
      <!-- Image container for mobile screens - at beginning of posts -->
      <div class="section-image-mobile {{ .Section }}"></div>
      <div class="post-container">{{ block "main" . }}{{ end }}</div>
      <!-- Image container for desktop screens - left container -->
      <div class="section-image-desktop {{ .Section }}"></div>
    </main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
