* {
  color: #dca780;
}

p {
  margin-top: 10px;
  margin-bottom: 15px;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: #dca780;
  text-decoration: none;
}

.title {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  padding: 0 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #727cca;
}

html {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 29.7px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  word-break: break-word;
  font-family: 'Old Standard TT', serif;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
  max-width: 710px;
  background-color: #2a2e44;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2e44;
  background-image: url(/images/cat.png), url(/images/stars.png);
  background-attachment: fixed;
  background-size: 500px;
  background-position: bottom right;
  background-repeat: no-repeat, repeat;
  opacity: 0.8;
  z-index: -1;
}

body.enredos:before {
  background-image: url(/images/cat-bulb.png), url(/images/stars.png) !important;
}

body.haikus:before {
  background-image: url(/images/cat-bird.png), url(/images/stars.png) !important;
}

body.poemas:before {
  background-image: url(/images/cat-flower.png), url(/images/stars.png) !important;
}

body.relatos:before {
  background-image: url(/images/cat-feather.png), url(/images/stars.png) !important;
}



header {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  flex: auto;
  max-height: calc(100vh - 150px);
  max-width: 500px;
  overflow: auto;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  direction: rtl;
  text-shadow: -1px -1px 0 #2a2e44, 1px -1px 0 #2a2e44, -1px 1px 0 #2a2e44, 1px 1px 0 #2a2e44;

}

main * {
  direction: ltr;
}

h1 {
  color: #dca780;
  padding: 0;
  text-decoration: none;
  font-size: 50px;
  margin: 0px;
  padding-top: 1rem;
  line-height: 0.81em;
  display: flex;
  flex-direction: column;
}

h1 span {
  color: #dca780;
}

.post-title {
  font-weight: 300;
  font-size: 32px;
  margin: 10px 0;
  line-height: 1.26383em;
  text-align: left;
  font-family: 'Old Standard TT', serif !important;
  font-style: italic;
  margin-bottom: 0;
}
.post-title a {
  text-decoration: none;
}

.logo {
  width: 155px;
  margin: -25px -50px;
}

footer {
  display: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  gap: 0.9rem;
}


.navbar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #bc8381;
  font-size: 20px;
  text-shadow: -1px -1px 0 #2a2e44, 1px -1px 0 #2a2e44, -1px 1px 0 #2a2e44, 1px 1px 0 #2a2e44;
}

.navbar ul li a:hover, .navbar ul li a.active {
  color: #dca780;
}



@media (max-width: 768px) {
  body:before {
    background-position: bottom right;
    opacity: 0.4;
  }
}

@media (max-width: 550px) {
  body:before {
    background-size: 80%;
    opacity: 0.3;
  }

  .navbar ul li a {
    font-size: 16px;
  }
}
